{% load humanize %}

<div class="card m-2 my-4">
    <div class="row g-0 align-items-center my-2">
        <div class="col-2 card__info mx-3">
            <div class="card__img p-2">
                <img src="{{ question.profile.avatar }}" alt="card img" style="height:64px; width:64px; border-radius:50%;"/>
            </div>
            <div class="card__username ps-2">
                <a href="{% url 'profile' question.profile %}">{{ question.profile.nickname }}</a>
            </div>
            <span class="small text-muted ps-2">{{ question.created_at|naturaltime }}</span>
            {% include 'layout/votes.html' with object_with_votes=question%}
        </div>
        <div class="vr col-1 m-3"></div>
        <div class="col-6 card__content">
            <a href="{% url 'question' question.id %}">{{ question.title }}</a>
            <p>{{ question.text }}</p>
            <div class="content__footer">
                <div class="answers">
                    <a href="{% url 'question' question.id %}#answers">answers ({{ question.answer_count }})</a>
                </div>
                <div class="footer__tags">
                    <span>Tags:</span>

                    {% for tag in question.tags.all %}
                        <a href="{% url 'tag' tag %}">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
