<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/ask_pupkin_logo.svg' %}">
    <title>AskPupkin</title>
    <style>
        .navbar-brand {
            text-decoration: none !important;
            color: inherit !important;
        }

        .navbar-brand:hover {
            opacity: 0.8;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-white fixed-top ">
        <div class="container-fluid d-flex align-items-center justify-content-between ">
            
            <div class="d-flex align-items-center gap-2">
                <div class="m-3 logo__img">
                    <img src="{% static 'img/ask_pupkin_logo.svg'%}" alt="logo" style="height:40px;">
                </div>
                <a class="navbar-brand mb-0" href="{% url 'index' %}">
                    <h3 class="m-0">AskPupkin</h3>
                </a>
            </div>
            
            <div class="d-flex">
                <form class="d-flex" role="search" method="GET">
                    <input class="form-control me-2" 
                        type="search" 
                        name="q"
                        placeholder="Search..." 
                        aria-label="Search"
                        value="{{ request.GET.q|default:'' }}">
                    <button class="btn btn-outline-info" type="submit">Search</button>
                </form>
                <form class="d-flex mx-2" role="search" action="{% url 'ask' %}">
                    <button class="btn btn-outline-success" type="submit">Ask!</button>
                </form>
            </div>

            {% include 'layout/navbar_profile.html' with user=user profile=profile %}

        </div>
    </nav>

    <main class="d-flex bg-light p-2 gap-2 pt-5 mt-5 t-5">
        <div class="row container-fluid">
            <div class="col-1"></div>
            <div class="col-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                {% block content %}
                {% endblock content %}
            </div>

            <div class="col-3 rounded-4 h-fit p-2" style="background-color: rgb(203, 209, 227);">
                <section class="card m-2 mt-4 p-2 popular-tags">
                    <h4>Popular tags</h4>
                    <div class="tags">
                        {% for tag in left_bar_tags %}
                            <a href="{% url 'tag' tag.name %}">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </section>
                <section class="card m-2 p-2 best-members">
                    <h4>Best Members</h4>
                    <div class="tags">
                        {% for profile in left_bar_profiles %}
                            <a href="{% url 'profile' profile.nickname  %}">{{ profile.nickname }}</a>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
    </main>
</body>
</html>